{% extends "base.html" %}

{% block title %}CS2103T AY16/17 Sem 1 Projects{% endblock %}

{% block body %}
  <div class="project-list">
    {% for org, project in projects.items() %}
      <a class="project-grid-item" href="{{ project.repo['html_url'] }}" target="_blank">
        <figure>
          <img src="img/{{ project.org | lower }}.jpeg" alt="" />
          <figcaption>
            <h3 class="title">{{ project.title }} <span class="project-code">{{ project.org }}</span></h3>
            <div class="commits"><strong>{{ project.commits | count }}</strong> commits</div>
          </figcaption>
        </figure>
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
  <script>
    var container = document.querySelector('.project-list');
    var itemSelector = '.project-grid-item';
    var targetWidth = 300;

    function resize() {
      // Calculate size
      var containerWidth = container.getBoundingClientRect().width;
      var rowSize = Math.max(Math.floor(containerWidth / targetWidth), 1);
      var actualSize = Math.floor((containerWidth - 1) / rowSize);

      // Resize items
      var items = container.querySelectorAll(itemSelector);
      for (var i = 0; i < items.length; i++) {
        items[i].style.width = actualSize + 'px';
      }

      return actualSize;
    }

    // Set up masonry
    var actualSize = resize();
    var masonry = new Masonry(container, {
      itemSelector: itemSelector,
      columnWidth: actualSize,
      resize: false,
    });

    imagesLoaded(container).on('progress', function() {
      masonry.layout();
    });

    // Debounced resize check
    var timeoutId;
    window.addEventListener('resize', function(){
      clearTimeout(timeoutId);
      timeoutId = setTimeout(function () {
        masonry.option({ columnWidth: resize() });
        masonry.layout();
      }, 300);
    });
  </script>
{% endblock %}