body {
    font-family: Ubuntu, Roboto, San Francisco, Segoe UI, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.project-list {
}

.project-list a {
    padding: 2px;
    display: block;
    transition: 0.15s background;
}

.project-list a:hover {
    background: orange;
}

.project-list img {
    display: block;
    max-width: 100%;
}

.project-list figure {
    position: relative;
    margin: 0;
}

.project-list figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px;
    background: rgba(0, 0, 0, 0.7);

    color: #fff;
    font-size: 12px;
}

.project-list h3 {
    font-size: 14px;
    margin: 0 0 4px 0;
}

.project-list h3 .project-code {
    font-size: 12px;
    font-weight: normal;
}

.commit-graph {
    position: relative;
    margin-bottom: 30px;
}

.commit-graph h3 {
    position: absolute;
    left: 10px;
    font-weight: normal;
    color: #999;
}

.graph-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
    border-bottom: 1px solid #999;
}

.graph-container div {
    flex: 1 auto;
    background: #ffcc80;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.graph-container div:hover {
    opacity: 1;
}

.graph-container .tutorial_day {
    background: #ffa726;
}

.graph-container .before_tutorial_day {
    background: #e65100;
}

.graph-axis-bottom {
    display: flex;
}

.graph-axis-day {
    width: 14.2857143%; /* 1/7 */
    display: flex;
    flex-wrap: wrap;
}

.graph-hour-tick {
    font-size: 11px;
    color: #999;
    width: 25%;
    padding: 4px;
    position: relative;
}

.graph-hour-tick:before {
    content: '';
    border-left: 1px solid;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
}

.graph-axis-day:not(:first-child) .graph-hour-tick:first-child:before {
    height: 160%;
}


.graph-day-tick {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 14px;
}
