* {
    box-sizing: border-box;
}

.project-list {
}

.project-list a {
    padding: 2px;
    display: block;
}

.project-list a:hover {
    background: orange;
}

.project-list img {
    display: block;
    max-width: 100%;
}

.project-list figure {
    position: relative;
    margin: 0;
}

.project-list figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px;
    background: rgba(0, 0, 0, 0.8);

    color: #fff;
    font-size: 12px;
}

.project-list h3 {
    font-size: 14px;
    margin: 0 0 4px 0;
}

.project-list h3 .project-code {
    font-size: 12px;
    font-weight: normal;
}